h1 {
	color: rgba(0,200,50,1);
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 1px solid rgb(255,100,80);
}

h4 {
	background: rgb(255,100,80);
}

body {
	background-color: pink;
	/*background: url(https://i.pinimg.com/originals/95/36/4a/95364ab18c1c0922bc1a121f99bb5266.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}